<div id="announce">
	<p>Game over! You got <%= @game.score %> out of 13.</p>
</div>

<form action="/destroy" method="post">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<input type="submit" class="button" value="Play Again!">
</form>