<p>
	How good are you at mental arithmetic? Using arithmetic operations (+, -, *, /), make 24 with the values on the cards shown. The game ends when all cards in the deck are played.
</p>


<div class="button">
	<a href="/play">Let's Go!</a>
</div>