<p>
	How good are you at mental arithmetic? Using arithmetic operations (+, -, *, /), make 24 with the values on the cards shown. The game ends when all cards in the deck are played.
</p>


<form action="/create" method="post">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<input type="submit" class="button" value="Play!">
</form>